<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["FO_Admin_Setup.styles.css"]" />
    <link rel="stylesheet" href="@Assets["/assets/css/dashlite.css?ver=2.4.0"]" />
    <link rel="stylesheet" href="@Assets["/assets/css/theme.css?ver=2.4.0"]" />
    @* <link rel="stylesheet" href="./assets/css/dashlite.css?ver=2.4.0">
    <link id="skin-default" rel="stylesheet" href="./assets/css/theme.css?ver=2.4.0">
     <link href="./assets/css/theme.css" rel="stylesheet" />
    <link href="./assets/css/dashlite.min.css" rel="stylesheet" /> *@
    <ImportMap />
    <link rel="icon" type="image/png" href="./images/favicon.png" />
    <HeadOutlet />


</head>

<body class="nk-body ui-rounder npc-default has-sidebar">
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="./sample.js"></script>
    <script src="./assets/js/bundle.js?ver=2.4.0"></script>
    <script src="./assets/js/scripts.js?ver=2.4.0"></script>
    <script src="./assets/js/charts/chart-ecommerce.js?ver=2.4.0"></script>

    @* <script>
        bundleJS();
    </script> *@
</body>

</html>
